.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 100px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.white {
  color: white !important;
}
.black {
  color: black !important;
}

img {
  height: 100vh !important;
  width: 100% !important;
  object-fit: cover;
}
.ham {
  position: absolute;
  z-index: 10;
  color: brown !important;
}
/* .carousel .ham {
  position: absolute;
  z-index: 10;
  color: black;
  font-size: 40px !important;
  font-weight: bolder !important;
} */
.carousel {
  position: relative;
  bottom: 0px;
}
